<div class="title">
    <div class="image">
      <img [src]="image">
    </div>
    <div class="h6">
      <b>{{title}}</b>
    </div>
</div>
<hr class="m-0 p-0">
<p>{{desc}}</p>
<hr class="m-0 p-0 pb-2">
<div class="d-flex justify-content-between">
  <div class="d-flex justify-content-around">
    <a href="#">
      <i class="fab fa-whatsapp"></i>
    </a>
    &nbsp;
    <a href="{{fb}}">
      <i class="fab fa-facebook-square"></i>
    </a>
 </div>
  <div>
    <a href="#">Buy Food</a>
  </div>
</div>
