<div class="p-2">
  <div class="h4">By Area</div>
  <div class="list-group">
    <div class="list-group-item list-group-item-action">
      <i class="fas fa-exclamation-triangle"></i>
      <span> Safe to me</span>
    </div>
    <div class="list-group-item list-group-item-action">
      <i class="fas fa-map-marked-alt"></i>
      <span> Close to me</span>
    </div>
  </div>

  <hr>

  <div class="h4">By Actor</div>
  <div class="list-group">
    <div class="list-group-item list-group-item-action">
      <i class="fas fa-tractor"></i>
      <span> Farmer</span>
    </div>
    <div class="list-group-item list-group-item-action">
      <i class="fab fa-hubspot"></i>
      <span> Food HUB</span>
    </div>
  </div>

</div>
