<div class="row page-full">
  <div class="col-sm-12 col-md-2" *hideItBootstrap="['xs','sm']">A</div>
  <div class="col-sm-12 col-md-6 page-scroll">
    <ul>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
      <li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li><li>TESt</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="box-map">
      <app-map></app-map>
    </div>
  </div>
</div>
